{% extends 'base.html' %} {% load static %} {% block 'content' %}

<style>
  input{
    color: var(--spanish-gray) !important;
    font-size: var(--fs-4) !important;
    border: 1px solid var(--cultured) !important;
    padding: 8px 12px  !important;
    margin: 15px 0px;
  }
</style>
<main>
  <article>
    <section class="section food-menu" id="food-menu"  style="background-image:url(' {% static './assets/images/hero-bg.jpg' %}')">
      <div class="container">

        <p class="section-subtitle">Popular Dishes</p>

        <h2 class="h2 section-title">
          Our Delicious <span class="span">Foods</span>
        </h2>

        <p class="section-text">
          Food is any substance consumed to provide nutritional support for an organism.
        </p>
        {% if form.errors %}
        <form class="footer-form" style="padding: 5px!important;margin-bottom: 50px;">
          {% for field in form %}
            {% if field.errors %}
              <ul>
                {% for error in field.errors %}
                  <li style="color: red; font-weight: 700;">{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </form>
        {% endif %}
        <div id="1" class="tabcontent" style="display: block;" >
          <div class="" style="padding-bottom: 200px">
          <center>
            <form method="post" action="{% url 'login' %}" class="footer-form" style="width: max-content;">
              {% csrf_token %}

              <p class="footer-list-title" >Login</p>

              <div class="">  
                {{ form.username }}
                {{ form.password }}
              </div>
              <a href="{% url 'password_reset' %}" style="text-decoration: underline;color: var(--deep-saffron); margin: 0px 5px;">i lost my password</a>
              <a href="{% url 'signup' %}" style="text-decoration: underline;color: var(--deep-saffron);">sign up !</a>
             <center style="margin-top: 20px;">
              <button type="submit" class="btn">Login</button>
             </center>
         
            </form>
          </center>
          </div>
        </div>                
      </div>
    </section>
  </article>
</main>
{% endblock %}
